<%- include('partials/headerForAll'); -%>


    <!-- Service Start -->
    <div class="container-fluid  dienst py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Unsere Leistungen</h5>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                  <h5 class="jobTitle mb-3">Dachdeckerleistungen</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">

                        <ul>
                          <li>Dachfenster montieren</li>
                          <li>Decken und Bekleiden von Dach- und Wandflächen mit Dachplatten, Dachziegeln, Dachsteinen, Schindeln oder anderen Deckwerkstoffen</li>
                          <li>Abdichtungen an Dach- und Wandflächen, Balkonen und Terrassen sowie an Bauwerken. Unterkonstruktions Installation </li>
                          <li>Dachrinnen Montierung </li>
                          <li>Schornsteinverkleidung</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <h5 class=" jobTitle mb-3">Elektriker Leistungen</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">

                        <ul>
                          <li>Installation von Lichtanlagen</li>
                          <li>Montage Elektrischer Bodenheizung</li>
                          <li>Montage von Kommunikations, Sicherheits und Smart Home Anlagen</li>
                          <li>Steckdosenmontage</li>
                          <li>Montage und Erneuerung von Schaltkästen</li>

                          <li>Modernisierung von technischen Elektroanlagen</li>
                          <li>Reparatur und Verlegung von Elektrischen Leitungen</li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                  <h5 class=" jobTitle mb-3">PV-Anlagen</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">


                        <ul>
                          <li>Installation von PV-Anlagen</li>
                          <li>Montage von Wechselrichtern</li>
                          <li> Installation vonn smartmetern </li>
                          <li>Überspannungsschutz montierung</li>
                          <li>Solarpanel Montage </li>
                          <li>Reparatur von PV-Anlagen</li>
                          <li>Reinigung von PV-Anlagen</li>
                        </ul>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                  <h5 class=" jobTitle mb-3">Außenarbeiten</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">

                        <ul>
                          <li>Gewächshaus montieren</li>
                          <li>Holz-und Gartenhäuser montieren</li>
                          <li>Gartenpavillon montieren</li>
                          <li>Terassenbau</li>
                          <li>Terassenüberdachung montieren</li>
                          <li>Gelenkarm-Markise montieren</li>
                          <li>Vorbau- Rolladensystem montieren</li>
                          <li>Carport montieren</li>
                          <li>Garagentor montieren</li>
                          <li>Zaun (Doppelstabmatte )montieren</li>
                          <li>Mähroboter installieren</li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                  <h5 class="jobTitle mb-3">Sonstige Arbeiten</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <ul>
                          <li>Vinyl-CV- Belag verlegen</li>
                          <li>Streichen</li>
                          <li>Tapezieren (Wand/Decke)</li>
                          <li>Innentür einbauen</li>
                          <li>Trockenbau erstellen</li>
                          <li>Haustür einbauen</li>
                          <li>Bodentreppe einbauen</li>
                          <li>Raumspartreppe einbauen</li>
                          <li>Fenster montieren</li>
                          <li>Kaminofen-Einbau</li>

                        </ul>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                  <h5 class="jobTitle mb-3">Sonstige Arbeiten</h5>
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <ul>
                          <li>Edelstahl-Kaminsystem montieren</li>
                          <li>Haushalt- und Bauentreinigung</li>
                          <li>Handtuchwärmekörper/Heizkörper montieren</li>
                          <li>Monolith montieren</li>
                          <li>Duschwanne einbauen</li>
                          <li>Badewanne einbauen</li>
                          <li>WC montieren</li>
                          <li>Spiegelschrank montieren</li>
                          <li>Badmöbel montieren</li>
                          <li>Wandfliesen verlegen</li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                  <h5 class="jobTitle mb-3">Sonstige Arbeiten</h5>

                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <ul>
                              <li>Arbeitsplatte montieren</li>
                              <li>Küchenzeile montieren</li>
                              <li>Einbauspüle montieren</li>
                              <li>Laminat verlegen</li>
                              <li>Parkett verlegen</li>
                              <li>Teppichboden verlegen</li>
                            </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                        <h3 class="text-white mb-3">Ruf uns heute an</h3>
                        <p class="text-white mb-3">Montag bis Freitag 8:00 - 16:00 Uhr</p>
                        <h2 class="text-white mb-0">+491629141902</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->






  <%- include('partials/footForAll'); -%>
